{% extends 'base.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    
    <div class="divContainerAuth divRegister dis-flex">
        <div class="divForm pd-20 dis-flex dis-flex-col">
            <div class="divImg dis-flex">
                <img src="{{ url_for('static', filename='images/man.png')}}" alt="avatar authentification">
            </div>

            {% if message %}
            <div class="divMessageError pd-5 mg-top-20 br-4 letter-spacing">
                <p>{{ message }}</p>
            </div>
            {% endif %}


            <form class="mg-top-20 dis-flex dis-flex-col" method="POST">
                <input type="text" class="letter-spacing mg-bottom-20 ft-20 br-4 pd-10" name="fname" id="fname" placeholder="Entrer votre prénom">
                <input type="text" class="letter-spacing mg-bottom-20 ft-20 br-4 pd-10" name="lname" id="lname" placeholder="Entrer votre nom de famille">
                <input type="text" class="letter-spacing mg-bottom-20 ft-20 br-4 pd-10" name="email" id="email" placeholder="Adresse electronique">
                <input type="password" class="letter-spacing mg-bottom-20 ft-20 br-4 pd-10" name="mdp" id="mdp" placeholder="Entrer Mot de passe">
                <input type="password" class="letter-spacing mg-bottom-20 ft-20 br-4 pd-10" name="mdpc" id="mdpc" placeholder="Confirmer le mot de passe">
                <button type="submit" id="btnSubmitRegister" class="letter-spacing mg-bottom-20 ft-15 br-4 pd-10 ft-bold">enregistrer</button>
            </form>
            
            <div class="divRedirect mg-bottom-20">
                <p class="letter-spacing ft-15">Vous avez déjà un compte ! <a href="/" class="ft-bold ft-20" style="color: #F05;">se connecter</a></p>
            </div>
                        
        </div>

        <div class="divBackgroundInfo pd-20 dis-flex dis-flex-col">
            <h1 class="letter-spacing mg-bottom-20">Bienvenue !</h1>
            <h3 class="ft-45 letter-spacing mg-bottom-20">Votre arbres généalogiques</h3>
            <p class="ft-20 letter-spacing">Inscrivez-vous et chatter en toute simplicité avec vos proches</p>
        </div>
    </div>

{% endblock %}


{% block script %}
    <!-- <script src="{{ url_for('static', filename = 'js/register.js') }}"></script> -->
{% endblock %}
