/* **************************** */
/* ********* NAVBAR ********** */
/* ************************** */
.navbar{
    background: rgb(1, 106, 210);
    justify-content: space-between;
    align-items: center;
}
.navbar .divUser span{
    color: #FFFFFF;
}
.navbar a{
    background: #f05;
    color: #FFFFFF;
    padding: 5px 10px;
}



/* ***************************************** */
/* ********* DIV CONTAINER ADMIN ********** */
/* *************************************** */
.divContainerAdmin{
    background: #f9f9f9;
    min-height: calc(100vh - 90px);
    align-items: center;
}

.divContainer{
    background: #FFFFFF;
    width: 100%;
}



/* *** DIV LINKs*** */
.divLinks{
    flex: 1;
    min-height: 80vh;
    justify-content: space-between;
    border-right: 1px solid #ebe6e6;
}


.divLinks ul li a{
    width: 100% !important;
    text-align: center;
    transition: all ease .3s;
}

.divLinks ul li a.active{
    color: #f05;
    font-weight: bold;
}

.divLinks ul li a:hover{
    color: #f05;
    font-weight: bold;
}


.divInfoAdmin{
    border-top: 2px solid orangered;
}




/* ***  DIV CONTENT**** */
.divContent{
    flex: 4;
}

.divContent .divPanelHeader{
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.divContent .divInteract{
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}


.divContent .divInteract select{
    background: #f9f9f9;
    border: none;
    outline: 0;
}






/* ************************* */
/* ******* TAB USERS ****** */
/* *********************** */

.divContent table{
    width: 100%;
}

.divContent table thead th{
    padding: 10px;
    text-transform: uppercase;
}

.divContent table tbody td{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.divContent table tbody td .btn-more{
    background: rgb(255, 204, 0);
}

.divContent table tbody td .btn-update{
    background: rgb(122, 234, 156);
}

.divContent table tbody td .btn-archive{
    background: #f05;
}




/* ******* DIV PAGINATION ***** */
.divPagination{
    justify-content: center;
}

.divPagination > div{
    width: 25%;
    justify-content: space-around;
}

.divPagination span{
    background: #ebe6e6;
    cursor: pointer;
    transition: all ease .3s;
}


.divPagination span:hover,
.divPagination span.active:hover{
    background: #f05;
    color: #FFFFFF;
}





/* ************************* */
/* *******ADD USER ******** */
/* *********************** */
.divOverlay{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.divOverlay form{
    width: 400px;
    position: relative;
    background: #FFF;
}

.divOverlay form .divPanelHeader{
    justify-content: center;
    align-items: center;
}

.divOverlay form .btnQuit{
    position: absolute;
    right: 20px;
    border: none;
    cursor: pointer;
    background: #f05;
    color: #FFFFFF;
    padding: 6px 10px;
}

.divOverlay .divGroupForm{
    width: 100%;
}

.divOverlay .divGroupForm input,
.divOverlay .divGroupForm select
{
    border: none;
    outline: 0;
    background: #f9f9f9;
    font-size: 18px;
    letter-spacing: 1px;
}

.divOverlay form button.btn-blue{
    width: 100%;
}




/* **************************** */
/* ***FORM UPDATE USER ******* */
/* ************************** */
#formUpdateUser .divForm{
    align-items: center;
}

#formUpdateUser .divForm label{
    width: 200px;
}