
/* ********************************* */
/* ***** USER INFORMATION   ******* */
/* ******************************* */
.divContainerUser{
    min-height: 70vh;
    align-items: center;
    justify-content: space-between;
}

.divContainerUser #formInfoUser{
    margin-left: 20px;
}

.divContainerUser #formInfoUser input{
    margin-right: 20px;
}



.divContainerUser .divAvatar{
    justify-content: center;
}

.divContainerUser .divAvatar img{
    width: 80%;
}


/* ********************************* */
/* ***** ARBRE GENEALOGIQUE ******* */
/* ******************************* */

.divTreeItem{
    justify-content: space-around;
}

.divGrandParents,
.divParents{
    display: none !important;
}

.divGrandParents span{
    background: rgb(255, 174, 0) !important;
}

.divParents span{
    background: rgb(162, 255, 0) !important;
}

.divBoth span{
    background: rgb(0, 255, 149) !important;
}

.divChild span{
    background: rgb(255, 64, 0) !important;
}


.divTreeItem span{
    margin: 10px;
    border-radius: 50%;
    white-space: pre-line;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    min-height: 90px;
    cursor: pointer;
}





/* *********************** */
/* ***** DIV CHAT ******* */
/* ********************* */
.divChat{
    padding-bottom: 20px;
    height: 70vh;
}

.divChatMember{
    flex: 1;
}

.divChatMember .divMember{
    /* background-color: aquamarine; */
    height: 60px;
    align-items: center;
}

.divChatMember .divMember img{
    height: 100%;
    margin-right: 20px;
}



.divChatMessage{
    flex: 3;
}

.divChatMessage > div{
    height: 62vh;
    border: 1px solid #d1c9c969;
}

.divChatMessage form{
    width: 100%;
}

.divChatMessage form input{
    width: 93%;
    outline: 0;
    border: none;
    background: #d1c9c969;
}

.divChatMessage form button{
    cursor: pointer;
}
