
/* ********************************* */
/* ***** USER INFORMATION   ******* */
/* ******************************* */
.divContainerUser{
    min-height: 70vh;
    align-items: center;
    justify-content: space-between;
}

.divContainerUser #formInfoUser{
    margin-left: 20px;
}

.divContainerUser #formInfoUser input{
    margin-right: 20px;
}



.divContainerUser .divAvatar{
    justify-content: center;
}

.divContainerUser .divAvatar img{
    width: 80%;
}


/* ********************************* */
/* ***** ARBRE GENEALOGIQUE ******* */
/* ******************************* */

.divTreeItem{
    justify-content: space-around;
}

.divGrandParents,
.divParents{
    display: none !important;
}

.divGrandParents span{
    background: rgb(255, 174, 0) !important;
}

.divParents span{
    background: rgb(162, 255, 0) !important;
}

.divBoth span{
    background: rgb(0, 255, 149) !important;
}

.divChild span{
    background: rgb(255, 64, 0) !important;
}


.divTreeItem span{
    margin: 10px;
    border-radius: 50%;
    white-space: pre-line;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    min-height: 90px;
    cursor: pointer;
}