{% extends 'admin_layout.html' %}

{% block title %}Utilisateur{% endblock %}

{% block content %}
    
    <div class="divPanelHeader dis-flex">
        <h2 class="ft-35 mg-bottom-20 mg-top-20 letter-spacing">Discuter avec vos proches</h2>
    </div>

    <div class="divChat dis-flex">

        <div class="divChatMember pd-10 dis-flex dis-flex-col">
            <h3 class="letter-spacing mg-bottom-20">Membres</h3>
            <div class="divMembers">
                {% for parent in parents %}
                <div class="divMember mg-bottom-10 dis-flex">
                    <img src="{{ url_for('static', filename='images/man.png') }}" alt="">
                    <div>
                        <h4 class="letter-spacing mg-bottom-10">{{ parent.fname }}</h4>
                        <p class="letter-spacing ft-15">({{ parent.lien }})</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="divChatMessage dis-flex dis-flex-col">
            <div class="mg-bottom-20 divAllMessage br-4"></div>

            <form class="dis-flex">
                <input type="text" class="pd-10 letter-spacing ft-15" placeholder="Message">
                <button class="btn-blue ft-bold pd-10 letter-spacing">envoyer</button>
            </form>
        </div>
            
    </div>

{% endblock %}
