{% extends 'admin_layout.html' %}

{% block title %}Utilisateur{% endblock %}

{% block content %}
    
    <div class="divPanelHeader dis-flex">
        <h2 class="ft-35 mg-bottom-20 mg-top-20 letter-spacing">Discuter avec vos proches</h2>
    </div>

    <div class="divChat dis-flex">

        <div class="divChatMember dis-flex dis-flex-col">
            <h3>Membres</h3>
        </div>

        <div class="divChatMessage dis-flex dis-flex-col">
            <div>

            </div>


            <form class="dis-flex">
                <input type="text" placeholder="message">
                <button class="">envoyer</button>
            </form>
        </div>
            
    </div>

{% endblock %}
