{% extends 'admin_layout.html' %}

{% block title %}Utilisateur{% endblock %}

{% block content %}
    
    <div class="divPanelHeader dis-flex">
        <h2 class="ft-35 mg-bottom-20 mg-top-20 letter-spacing">Informations principales</h2>
        <div>
            <button id="btnEditUser" class="ft-bold letter-spacing br-4 pd-10 btn-edit btn">Editer</button>
            <button id="btnQuite" class="ft-bold letter-spacing br-4 pd-10 btn-quite btn">Annuler</button>
        </div>
        
    </div>

    <div class="divContainerUser dis-flex">
        <form id="formInfoUser" method="POST">
            <div class="divGroupForm mg-bottom-20 dis-flex">
                <div class="divForm dis-flex dis-flex-col">
                    <label for="" class="mg-bottom-10 ft-bold letter-spacing">Prénom</label>
                    <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="fname" value="{{ user.get('fname') }}" disabled>
                </div>

                <div class="divForm dis-flex dis-flex-col">
                    <label for="" class="mg-bottom-10 ft-bold letter-spacing">Nom de famille</label>
                    <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="lname" value="{{ user.get('lname')}}" disabled >
                </div>

                <div class="divForm dis-flex dis-flex-col">
                    <label for="" class="mg-bottom-10 ft-bold letter-spacing">Numéro de téléphone</label>
                    <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="phone" value="{{ user.get('phone') if user.get('phone') is not none else '' }}" placeholder="Votre numéro de téléphone" disabled>
                </div>
            </div>

            <div class="divGroupForm mg-bottom-20 dis-flex dis-flex-wrap">

                <div class="divForm dis-flex dis-flex-col">
                    <label for="" class="mg-bottom-10 ft-bold letter-spacing">Adresse electronique</label>
                    <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="email" value="{{ user.get('email')}}" disabled>
                </div>

                <div class="divForm dis-flex dis-flex-col">
                    <label for="" class="mg-bottom-10 ft-bold letter-spacing">Profession</label>
                    <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="job" value="{{ user.get('job') if user.get('job') is not none else '' }}" placeholder="Votre profession" disabled>                    
                </div>

                <div class="divForm dis-flex dis-flex-col">
                    <label for="" class="mg-bottom-10 ft-bold letter-spacing">Age</label>
                    <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="age" value="{{ user.get('age') if user.get('age') is not none else '' }}" placeholder="Votre age" disabled>                    
                </div>

                <div class="divForm divGenre mg-top-20 mg-bottom-20" style="width: 300px;">
                    <label for="" class="mg-bottom-10 ft-bold letter-spacing">Genre</label>
                    <select name="sex" id="" class="pd-10 br-4 letter-spacing" >
                        <option value="">Choisir votre genre</option>
                        <option value="M">Homme</option>
                        <option value="F">Femme</option>
                    </select>
                </div>

            </div>

            <button id="btnEditUserSave" class="pd-10 br-4 ft-bold btn-blue">Enregistrer</button>
        </form>

        <div class="divAvatar dis-flex">
            {% if user.get('sex') == "M" %}
                <img src="{{ url_for('static', filename = 'images/man.png') }}" alt="avatar man">
            {% elif user.get('sex') == "F" %}
                <img src="{{ url_for('static', filename = 'images/woman.png') }}" alt="avatar woman">
            {% else %}
                <img src="{{ url_for('static', filename = 'images/fav.png') }}" alt="default">
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}