{% extends 'admin_layout.html' %}

{% block title %}Utilisateur{% endblock %}


{% block overlay %}
<div class="divOverlay">
    
    <form id="formAddMember" method="POST" class="pd-20 br-4">
        <div class="divPanelheader dis-flex mg-bottom-20">
            <h2>Ajouter un membre</h2>
            <button class="btnQuit br-middle ft-bold">X</button>
        </div>

        <div class="divGroupForm dis-flex dis-flex-col mg-bottom-20">
            <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="fname" placeholder="Prénom">
            <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="lname" placeholder="Nom de famille">
            <select name="lien" id="lien" class="pd-10 ft-15 br-4">
                <option value="">Lien de paranté</option>
                <option generation="1" value="Grandpere">grand-pére</option>
                <option generation="1" value="Grandmere">grand-mère</option>
                <option generation="2" value="Pere">Père</option>
                <option generation="2" value="Mere">Mére</option>
                <option generation="2" value="Tante">Tante</option>
                <option generation="2" value="Oncle">Oncle</option>
                <option generation="3" value="Frere">Frére</option>
                <option generation="3" value="Soeur">Soeur</option>
                <option generation="3" value="Cousin(e)">Cousin(e)</option>
                <option generation="4" value="Fils">Fils</option>
                <option generation="4" value="Fille">Fille</option>
                <option generation="4" value="Niece">Niéce</option>
                <option generation="4" value="Neuve">Neuve</option>
            </select>
        </div>

        <button class="pd-10 br-4 letter-spacing ft-bold btn-blue">Ajouter</button>

    </form>

</div>
{% endblock %}


{% block content %}
    
    <div class="divPanelHeader dis-flex">
        <h2 class="ft-35 mg-bottom-20 mg-top-20 letter-spacing">Mon arbre généalogique</h2>
        <button href="#" class="ft-bold letter-spacing br-4 pd-10 btn-blue" id="btnShowForm">Ajouter un membre</button>
    </div>

    <div class="divTree dis-flex dis-flex-col">
        {% for parent in parents %}
            {% if parent.generation == '1' %}
                <!-- <div class="divGrandParents divTreeItem dis-flex dis-flex-wrap pd-10 mg-bottom-10"> -->
                    <span>{{ parent.fname}} ({{parent.lien}})</span>
                <!-- </div> -->
            {% elif parent.generation == '2' %}
                <!-- <div class="divParents divTreeItem dis-flex dis-flex-wrap pd-10 mg-bottom-10"> -->
                    <span>{{ parent.fname}} ({{parent.lien}})</span>
                <!-- </div> -->
            
            {% elif parent.generation == '3' %}
                <!-- <div class="divBoth divTreeItem dis-flex dis-flex-wrap pd-10 mg-bottom-10"> -->
                    <span>{{ parent.fname}} ({{parent.lien}})</span>
                <!-- </div> -->
            
            {%  else %}
                <!-- <div class="divChild divTreeItem dis-flex dis-flex-wrap pd-10"> -->
                    <span>{{ parent.fname}} ({{parent.lien}})</span>
                <!-- </div> -->
            {% endif %}

        {% endfor %}

        
    </div>

{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}