{% extends 'admin_layout.html' %}

{% block title %}Utilisateur{% endblock %}


{% block overlay %}
<div class="divOverlay">
    
    <form id="formAddMember" class="pd-20 br-4">
        <div class="divPanelheader dis-flex mg-bottom-20">
            <h2>Ajouter un membre</h2>
            <button class="btnQuit br-middle ft-bold">X</button>
        </div>

        <div class="divGroupForm dis-flex dis-flex-col mg-bottom-20">
            <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="fname" placeholder="Prénom">
            <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="lname" placeholder="Nom de famille">
            <select name="" id="" class="pd-10 ft-15 br-4">
                <option value="">Lien de paranté</option>
                <option value="">Père</option>
                <option value="">Mére</option>
                <option value="">Fils</option>
                <option value="">Fille</option>
                <option value="">Niéce</option>
                <option value="">Neuve</option>
            </select>
        </div>

        <button class="pd-10 br-4 letter-spacing ft-bold btn-blue">Ajouter</button>

    </form>

</div>
{% endblock %}


{% block content %}
    
    <div class="divPanelHeader dis-flex">
        <h2 class="ft-35 mg-bottom-20 mg-top-20 letter-spacing">Mon arbre généalogique</h2>
        <button href="#" class="ft-bold letter-spacing br-4 pd-10 btn-blue" id="btnShowForm">Ajouter un membre</button>
    </div>

    <div class="divTree dis-flex dis-flex-col">
        
        <div class="divGrandParents divTreeItem dis-flex dis-flex-wrap pd-10 mg-bottom-10">
            <span>Doudou (grand-pere)</span>
            <span>Didi (grand-mère)</span>
        </div>
        <div class="divParents divTreeItem dis-flex dis-flex-wrap pd-10 mg-bottom-10">
            <span>Didi (tante)</span>
            <span>Didi (pere)</span>
            <span>Didi (mere)</span>
            <span>Didi (oncle)</span>
            <span>Mafe (oncle)</span>
        </div>
        <div class="divBoth divTreeItem dis-flex dis-flex-wrap pd-10 mg-bottom-10">
            <span>Doudou (frere)</span>
            <span>Didi (soeur)</span>
            <span>Mafé (cousin)</span>
            <span>Samba ndiaye (demi-frere)</span>
        </div>
        <div class="divChild divTreeItem dis-flex dis-flex-wrap pd-10">
            <span>Didi (fille)</span>
            <span>Didi (fille)</span>
            <span>Didi (fille)</span>
            <span>Didi (fils)</span>
            <span>Didi (neuve)</span>
            <span>Didi (niece)</span>
        </div>
        
    </div>

{% endblock %}
