<!DOCTYPE html>
<html lang="fr">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/fav.png') }}" type="image/x-icon">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/auth.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/admin.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/notfound.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/micro-framework.css') }}">
    </head>

    <body>
        {% block content %}{% endblock %}


        {% block script %}{% endblock %}
    </body>

</html>