{% extends 'admin_layout.html' %}

{% block title %}Ajouter utilisateur{% endblock %}

{% block content %}
    

<div class="divOverlay dis-flex">
    
    <form id="formAddUser" class="pd-20 br-4">
        <div class="divPanelheader dis-flex mg-bottom-20">
            <h2>Ajouter un utilisateur</h2>
            <button class="btnQuit br-middle ft-bold">X</button>
        </div>

        <div class="divGroupForm dis-flex dis-flex-col mg-bottom-20">
            <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="fname" placeholder="Prénom">
            <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="lname" placeholder="Nom de famille">
            <input type="text" class="pd-10 mg-bottom-20 ft-15 br-4" name="email" placeholder="Adresse email">
            <input type="password" class="pd-10 ft-15 br-4" name="mdp" placeholder="mot de passe">
        </div>

        <button class="pd-10 br-4 letter-spacing ft-bold btn-blue" id="btnAddUser">Ajouter</button>

    </form>

</div>


    

{% endblock %}

