{% extends 'layout.html'%}

{% block title %}Archives{% endblock%}

{% block content %}

<div class="divPanelHeader dis-flex">
    <h2 class="ft-35 mg-bottom-20 mg-top-20 letter-spacing">Archives</h2>
    
    {% if users %}
        <a href="#" class="letter-spacing ft-bold btn btn-red">Supprimer tous</a>
    {% endif %}

</div>

{% if users %}
    <table aria-describedby="users-table">

        <thead>
            <tr>
                <th>UUID</th>
                <th>prénom</th>
                <th>nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>


            {% for u in users %}
                <tr>      
                    <td>{{ u['p.uuid'] }}</td>
                    <td>{{ u['p.name'] }}</td>
                    <td>{{ u['p.lname'] }}</td>
                    <td>{{ u['p.email'] }}</td>
                    <td>
                        <a href="/restaure?uuid={{u['p.uuid']}}" class="btn-more letter-spacing ft-15 br-4 pd-5">Restaurer</a>
                        <a href="#" class="btn-archive letter-spacing ft-15 br-4 pd-5">Supprimer définitivement</a>
                    </td>
                </tr>
            {% endfor %}

           
        </tbody>
    </table>

{% else %}
    <div style="min-height: 70vh; align-items: center; justify-content: center;" class="dis-flex">
        <p class="letter-spacing">Aucun utilisateur archivé pour le moment !</p>
    </div>
{% endif %}

<!-- <div class="divPagination dis-flex mg-top-20 mg-bottom-20">
    <div class="dis-flex">
        {% for i in range(1,10)%}
            <span class="pd-5 br-middle">{{ i }}</span>
        {% endfor %}
    </div>
</div> -->


{% endblock %}